@charset "UTF-8";

/* 
   css test du plugin Clea-Patrice-add-functions  
*/

/*****
* body et couleurs
*****/
body {
	background: white;
}

.storefront-primary-navigation {
	background-color: white;
}

.site-header {
	background-color: white;
}

@media (min-width: 768px) {
	.site-header .custom-logo-link img {
		height: 50px;
		width: 90px;
	}	
	
	.site-header .site-branding {
		margin-bottom: 0.618em;
	}
}

h1.site-title {
	display: inline-block;
}

.secondary-navigation {
	display: none;
}


/*****
* Header et Navigation secondaire
*****/

@media screen and (min-width: 768px) {
	.main-navigation ul li a, ul.menu li a {
		color: #cecece!important;
	}

	.site-header .site-logo-link {
		width: auto !important;
	}

	.site-header {
    padding-top: 1.236em; 
	}
}

.site-header .site-branding {
    width: 40% !important;
}




.site-title a {
	display: inline-block;
	color: #666666;
}

.clea-adresse {
    float: right;
    text-align: right;
	max-width: 50%;
	margin-right: -4.874em;
}

.clea-adresse p {
    margin-bottom: 0;
}

.boutique-primary-navigation {
    background: #212121 !important;
}

.site-header-cart .cart-contents:after {
    position: initial;
    padding-left: 1em;
}


/*****
* titres des pages
*****/
header.entry-header {
    display: none;
}


/*****
* galerie avec produits vendus
*****/

#post-11 ul.products li.product .price {
    display: none;
}

#post-11 .soldout {
    position: absolute;
    top: .618em;
    right: 1px;
    padding: .53em .857em;
    background: #cecece;
    color: #1a1a1a;
    font-style: oblique;
    font-weight: 700;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}

/*****
* images dans le chariot
*****/
table.cart .product-thumbnail {
    display: table-cell !important;
}

table.cart .product-thumbnail img {
    max-width: 2.618em;
}

/*****
* widget livraison
*****/
a.formulaire {
    text-decoration: underline;
}

/*****
* star rating
*****/
.star-rating span:before, .widget-area .widget a:hover, .product_list_widget a:hover, .quantity .plus, .quantity .minus, p.stars a:hover:after, p.stars a:after, .star-rating span:before {
    color: #FFD700 !important;
}

